a:link { color: #154374; background-color: #ffffff; }
a:visited { color: #154374; background-color: #ffffff; }

a.hl:link { color: #154374; text-decoration: none; background-color: #99a9c0; }
a.hl:visited { color:#154374; text-decoration: none; background-color: #99a9c0; }
a.hl:hover { color: #154374; text-decoration: underline; background-color: #99a9c0; }
a.hl:active { color: #154374; text-decoration: underline; background-color: #99a9c0; }

a.qn:link { color: #ffffff; text-decoration: none; background-color: #99a9c0; }
a.qn:visited { color: #ffffff; text-decoration: none; background-color: #99a9c0; }
a.qn:hover { color: #154374; text-decoration: underline; background-color: #99a9c0; }
a.qn:active { color: #154374; text-decoration: underline; background-color: #99a9c0; }

a.mhl:link { color: #99a9c0; text-decoration: none; background-color: #e9f3ff; font-weight: bold; }
a.mhl:visited { color: #99a9c0; text-decoration: none; background-color: #e9f3ff; font-weight: bold; }
a.mhl:hover { color: #154374; text-decoration: underline; background-color: #e9f3ff; font-weight: bold; }
a.mhl:active { color: #99a9c0; text-decoration: underline; background-color: #e9f3ff; font-weight: bold; }

a.mbold:link { color: #154374; text-decoration: none; background-color: #e9f3ff; font-weight: bold;}
a.mbold:visited { color: #154374;; text-decoration: none; background-color: #e9f3ff; font-weight: bold;}
a.mbold:hover { color: #154374; text-decoration: underline; background-color: #e9f3ff; font-weight: bold;}
a.mbold:active { color: #154374; text-decoration: underline; background-color: #e9f3ff; font-weight: bold;}

a.front:link { color: #154374; text-decoration: none; background-color: #ffffff; font-weight: bold;}
a.front:visited { color: #154374;; text-decoration: none; background-color: #ffffff; font-weight: bold;}
a.front:hover { color: #154374; text-decoration: underline; background-color: #ffffff; font-weight: bold;}
a.front:active { color: #154374; text-decoration: underline; background-color: #ffffff; font-weight: bold;}

a.mlight:link { color: #154374; text-decoration: none; background-color: #e9f3ff; }
a.mlight:visited { color: #154374; text-decoration: none; background-color: #e9f3ff; }
a.mlight:hover { color: #154374; text-decoration: underline; background-color: #e9f3ff; }
a.mlight:active { color: #154374; text-decoration: underline; background-color: #e9f3ff; }

a.mlighthl:link { color: #99a9c0; text-decoration: none; background-color: #e9f3ff; }
a.mlighthl:visited { color: #99a9c0; text-decoration: none; background-color: #e9f3ff; }
a.mlighthl:hover { color: #154374; text-decoration: underline; background-color: #e9f3ff; }
a.mlighthl:active { color: #99a9c0; text-decoration: underline; background-color: #e9f3ff; }
		
a.foot:link { color: #ffffff; text-decoration: none; background-color: #154374; }
a.foot:visited { color: #ffffff; text-decoration:none; background-color: #154374; }
a.foot:hover { color: #ffffff; text-decoration: underline; background-color: #154374; }
a.foot:active { color: #ffffff; text-decoration: underline; background-color: #154374; }

span.foottext { color: white; background-color: #154374; }
span.qntext { color: white; background-color: #99a9c0; }
span.sponsor { color: #154374; background-color: #e9f3ff; font-size: 12px; }

ul.menu { list-style-type: none; line-height: 23px;}
ul.submenu { list-style-type: square;	line-height: 20px; }
