RewriteEngine On
RewriteBase /

# permanent redirects to new locations
Redirect 301 /blog http://blog.xfce.org/
Redirect 301 /projects/ristretto http://goodies.xfce.org/projects/applications/ristretto
Redirect 301 /projects/xfmedia http://spuriousinterrupt.org/projects/xfmedia
Redirect 301 /documentation/changelogs http://www.xfce.org/download/changelogs
Redirect 301 /documentation/requirements http://www.xfce.org/download/building
RedirectMatch 301 ^/documentation(.*)$ http://docs.xfce.org/
Redirect 301 /community/irc http://www.xfce.org/community
Redirect 301 /community/lists http://www.xfce.org/community
Redirect 301 /development http://www.xfce.org/getinvolved
Redirect 301 /archive http://archive.xfce.org

# for correcting the version number style
Redirect 301 /download/changelogs/4.8 http://www.xfce.org/download/changelogs/4.8.0

# redirect homepages to mocha.xfce.org/~user
RewriteRule ^(~.*)$ http://mocha.xfce.org/$1 [R,L]

# catch CMS-generated pages to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}/index.html !-f
RewriteRule ^(.*)$ index.php
