RewriteEngine On
RewriteBase /

# permanent redirects to new locations
Redirect 301 /blog http://blog.xfce.org/
Redirect 301 /projects/ristretto http://goodies.xfce.org/projects/applications/ristretto
Redirect 301 /projects/xfmedia http://spuriousinterrupt.org/projects/xfmedia
Redirect 301 /documentation/changelogs http://www.xfce.org/download/changelogs
Redirect 301 /documentation/requirements http://www.xfce.org/download/building
RedirectMatch 301 ^/documentation(.*)$ http://docs.xfce.org/
Redirect 301 /community/irc http://www.xfce.org/community
Redirect 301 /community/lists http://www.xfce.org/community
Redirect 301 /development http://www.xfce.org/getinvolved

Redirect 301 /getinvolved/translation http://docs.xfce.org/contribute/translate/start

RedirectMatch 301 /archive/xfce-(.*) http://archive.xfce.org/xfce/$1

Redirect 301 /projects/xfwm4 http://docs.xfce.org/xfce/xfwm4/
Redirect 301 /projects/terminal http://docs.xfce.org/apps/terminal/
Redirect 301 /projects/xfce4-panel http://docs.xfce.org/xfce/xfce4-panel/
Redirect 301 /projects/xfce4-session http://docs.xfce.org/xfce/xfce4-session/
Redirect 301 /projects/xfce4-settings http://docs.xfce.org/xfce/xfce4-settings/
Redirect 301 /projects/xfce-mcs-manager http://docs.xfce.org/xfce/xfce4-settings/
Redirect 301 /projects/libraries http://docs.xfce.org/xfce/exo/
Redirect 301 /projects/xfdesktop http://docs.xfce.org/xfce/xfdesktop/
Redirect 301 /projects/xfce4-appfinder http://docs.xfce.org/xfce/xfce4-appfinder/
Redirect 301 /projects/thunar http://docs.xfce.org/xfce/thunar/
Redirect 301 /projects/Thunar http://docs.xfce.org/xfce/thunar/
Redirect 301 /download/building http://docs.xfce.org/xfce/building
Redirect 301 /download/distros http://www.xfce.org/download

Redirect 301 /release_notes/4.4rc1_changelog.html http://www.xfce.org/download/changelogs/4.3.99.1
Redirect 301 /release_notes/4.2.3.1_changelog.html http://www.xfce.org/download/changelogs/4.2.3.1
Redirect 301 /release_notes/4.4beta2_changelog.txt http://www.xfce.org/download/changelogs/4.3.90.2
Redirect 301 /release_notes/4.2.0_changelog.html http://www.xfce.org/download/changelogs/4.2.0
Redirect 301 /release_notes/4.4rc2_changelog.html http://www.xfce.org/download/changelogs/4.3.99.2
Redirect 301 /release_notes/4.2.0_press_announcement.html http://www.xfce.org/download/changelogs/4.2.0
Redirect 301 /release_notes/4.2.1_changelog.html http://www.xfce.org/download/changelogs/4.2.1
Redirect 301 /release_notes/4.1.x_changelog.html http://www.xfce.org/download/changelogs/4.2.1
Redirect 301 /release_notes/4.2.2_changelog.html http://www.xfce.org/download/changelogs/4.2.2
Redirect 301 /release_notes/4.2_changelog.html http://www.xfce.org/download/changelogs/4.2.0

Redirect 301 /images/ http://cms.xfce.org/
Redirect 301 /downloads/ http://cms.xfce.org/downloads/

# for correcting the version number style
Redirect 301 /download/changelogs/4.8 http://www.xfce.org/download/changelogs/4.8.0

# redirect homepages to mocha.xfce.org/~user
RewriteRule ^(~.*)$ http://users.xfce.org/$1 [R,L]

# catch CMS-generated pages to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}/index.html !-f
RewriteRule ^(.*)$ index.php
