/* this file is used in various xfce subdomains! */

#xfce-header {
	background: #333 url(data:image/gif;base64,R0lGODlhSwAZAPUAABsYFxosMC0uKygmJTMuLTIpJDEyLyszNjEzMDM4OikuMCQcGg49TCk7QjY9RBhJVxFCUTVDSCtHTwpUai5baClkdxdmfkNfaAVwjgB+ogyMtjSNp1WUpwibygCo3Qun2Bys2yix3QCt4gCy4AK27RW45y+44TW85Syewkiz00m/42+xxkvC6FjI6lXO9GXL6nzS7XPR7izB8InX7ZnZ7Zfc84HW8afi9LTm9Lfq96HS4MPq99Px+O/6/cPb4JK5xCH5BAAKAAAALAAAAABLABkAAAb+QIQBgSBEHMMhcZloCIVJqCEZXRKV1KcScZhqp+Aw+GoYSHS/AYE6PFRSEoL00Kjb7/WuWDolKCIXHBsDUAkXh4cUFxSMjF0HCAIUPj08HGpXRRItMSYNAkIEEGg/pT8rqKgccWxcRQIHgTQ4OS8ASRE4PDw7Ozg3NDUzNjFxkZM9lTsUCksEDSkvLC0mDwVFDMmVvDm/wjEPA1tPAw0cOjs8OTc1MQFyBhGUu7437MMtnwgXPMn0NQqGEDiQokULFidOgHhAgEA2evVq0LAB40W4TFwk+aD3a9gLCYTi6er1i8ZEGDHyCUjwwx8vWi/UHNjwooWKEyZGjMCg5mH+vWAzYFRUAYHQEgMJOPjbca9iCwuEjNzg8YvdyRfSGKyJoIMjuxscAlQwiDBnCQwABDh8aZVYTZsXhwjgqsxb0JoqeAqJQIPpvRQcBG3YEAAUgTMRaQjloOIgzhEk0BpmwBQojA0VMleYUDiUvLomianA/CCAuHizLD8AMKB1ayWHZ+CQSBGr45yRATQrAiGHyaAxKCxwjUlIAx3KgE1MUSGAaTVKIsy4Z+Mj9DVHhRyIUaM22cdnAcAzQODBjWFOK5x+QuQAB273YjQfoHbLlAgwhAltEe6AggN6WIFAAzE4ZdNjI2iQVhTl1SBUTSxUcEAEFDYQXVfeEFNBWtn+eRFPDMBByIIMMpQwgVFHGUBBYyzclNMIHbAmYHkGthgCCB/kqMFpFHRjEkoocNjhFRG8UCNCJ5QwQlxWxFOQiyPc2ME7VhxQXkq3KRmCCCJosAB5G+ygX00WLCAgRvHYdhCUI4hwooAGEHRgTlt64IEGVlpRngstIiiCnXeKIwAH5zmlwkVnYhGBChAmVIKSXL6pxQCN3aRkm4De+Y4Xe7L5J6A7gtmOYyWUycapizp2wo0fAFrUUQdU6memHoiQwW5FPMDCiyB40IEGwGqQgRoEVJASQkriOQ5GRqhQVk4MACAta6AUEcGT4GmAwace9ErCrXKUJ0OUgE4AwAL+6C4gwBARkBpCrRo84AQBBTQ0XgQhILiQOGuEcW0LCeGm4AAZcGtnlwo09EAJvZaLohQJoHDCCA3XeicGGGSG8QNq4TvxjR6cCODICPzL5pQyaUCrncOWRwKtkobBRQUMr8zlzSKQAFXJIJRQp68a/NpBBxxHcAKyUYrAgFEDdUCrmwsc9nKmkrI3xQEaiFDxygefGM8HmHItAgRqURCClm5yKFADmYog2WEGhxySFldgzfXTXkfwQdy0kl1EBR5siZYcUOTaQaQcwg3zelgQMRAGh3Mp9gRRR+D03Xb6bYAAFnQpYxQCTRAyAJCQ9wAJOLvJeIqvNGBB0LXi7OtUiUbEnjrOmpM3XyZYxBkOKH24PsHwwy/tIeuOD6BAAw88MHzzEDjXUAITNO888dU735kXkTQ+zhjcZ6TA+AqsS3eTbKwhACzrNwT++uuXXz78UwQBADs=) no-repeat 3px 50%;
	padding-left: 75px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
#xfce-header ul {
	list-style: none;
	float: right;
	margin: 5px;
	padding: 0;
}
#xfce-header ul li {
	float: left;
	margin: 0; /* for transifex */
}
#xfce-header a {
	color: #999;
	text-decoration: none;
	display: block;
	padding: 0 8px 0 8px;
	border: 0; /* for transifex */
	line-height: 25px;

	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
}
#xfce-header ul li a:hover {
	color: #fff;
	text-decoration: underline;
}
#xfce-header .active {
	color: #fff;
}
#xfce-header-clear {
	clear: both;
}
#xfce-header-title, #xfce-header-subtitle {
	display: none;
}
