
body {
	margin: 0;
        padding: 0;
	line-height: 1.7em;
	font: 80% Verdana, Arial, Helvetica, sans-serif;
}

#page-header {
        /*border-bottom: 2px #69f solid;*/
        background: #333 url('img/logosmall.png') no-repeat 6px 55%;
	padding-left: 120px;
	min-height: 45px;
}
#page-header ul {
	float: right ;
	list-style: none;
        margin: 0;
        padding: 0 15px 0 0;
        background: #333;
}
#page-header ul li {
	float: left;
        font-weight: bold;
}
#page-header a {
	color: #fff;
        text-decoration: none;
        display: block;
        float: right;
        padding: 0 15px 0 15px;
        line-height: 4em;
}
#page-header ul li a:hover {
	color: #69f;
}
#page-header .active {
        color: #69f;
}


#page-wrap {
	margin: auto;
	padding: 1em;
	text-align: left;

	min-width: 600px;
	max-width: 1100px;
}

#page-contents {
	margin-right: 205px;
}

#menu-main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu-main ul li {
	border-left: 1px solid #ccc;
	float: left;
	padding: 0 1em 0 1em;
	margin: 0;
	font-weight: bold;
}
#menu-main ul li:first-child {
	border-left: 0;
	padding-left: 0;
}
#menu-main ul li a {
	color: #666;
	text-decoration: none;
}
#menu-main ul li a:hover {
	color: #06c;
}
#menu-main select {
	float: right;
}

#menu-sub {
	float: right;
	width: 170px;
	margin-top: 2em;
	background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	padding-top: 0;
}
#menu-sub ul {
	list-style: none;
	list-style-image: url('img/bullit.gif');
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-left: 10px;
}
#menu-sub ul li ul {
	list-style-image: none;
	font-weight: normal;
}
#menu-sub a {
	display: block;
	color: #666;
}
#menu-sub a:hover {
	color: #06c;
}
#menu-sub h5 {
	margin-top: 10px;
	font-size: 140%;
}

table th {
        text-align: left;
}

table tr:nth-child(even) {
        background: #ccc;
}
table td {
	padding: 0.2em;
}

h1, h2, h3, h4, h5 {
	color: #666;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	margin: 0 0 1em 0;
	padding: 0.5em 0 0 0;
}
h3, h4, h5 {
	border-bottom: none;
	margin: 0 0 0.2em 0;
	padding: 0.2em 0 0 0;
}

ul {
	list-style-type: square;
}

dt {
	font-weight: bold;
}

a {
	color: #06c;
	text-decoration: none;
}

a:hover {
	color: #f00;
}

.clearboth {
	clear: both;
}
.external {
	background: url('img/external.png') no-repeat 100% 50%;
	padding: 0 15px 0 0;
	margin: 0 5px 0 0;
}
.hidden {
	display: none;
}

.mungify {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.center {
  text-align: center;
 }
