/*
 *  The base style for all xfce.org websites
 *  CSS definitions specific for different sites can be found in the site_*.css files
 *
 */

/*
 *  Elements
 * 
 */

body {
	font-family: "Bitstream Vera Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 80%;
	line-height: 1.5em;
	text-align: left;

	background-color: #eee;
	color: #000;
}

body, h1, h2, h3, h4, ol, ul, li {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, dl dt { color: #333; }
h1 { font-size: 180%; font-weight: normal; margin: 0.5em 0 1em 0; }
h2, h3, h4 { font-weight: bold; margin: 1em 0; }
h2 { font-size: 125%; }
h3 { font-size: 100%; }
h4 { font-size: 90%; }

h2 em {
	font-weight: normal;
}

a {
	color: #06c;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #f00;
	text-decoration: underline;
}

a span {
	color: #333;
}

a:hover span {
	color: #f00;
}

hr {
	border: none;
	border-top: 1px solid rgba( 0, 0, 0, 0.2 );
	margin: 2em 0;
}

ul {
	list-style-type: square;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin: 0 0 1em 3em;
}

table {
	width: 100%;
	font-size: 90%;
	border-collapse: collapse;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	margin: 1em 0;
}
	table tr {
		border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
	}
	table thead th {
		background-color: rgba( 0, 0, 0, 0.05 );
	}
	table th,
	table td {
		padding: 0.2em 0.5em;
		vertical-align: top;
	}
		table td {
			border-right: 1px solid transparent;
		}
		table td:last-child,
		table th,
		table tr:hover td {
			border-right: 1px solid rgba( 0, 0, 0, 0.2 );
		}


/*  Forms  */

/*
 *  Form stuff and links dressed as buttons
 *
 */

input[type="submit"],
button,
select {
	border-radius: 0.2em;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	background: #f7f7f7 linear-gradient( to bottom, rgba( 255, 255, 255, 0.5 ), rgba( 0, 0, 0, 0.02 ) 1px, rgba( 0, 0, 0, 0.05 ) ) repeat-x;
	color: #000;
	padding: 0.2em 0.5em;
	outline: none !important;
	transition: 150ms all;
}
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}

	input[type="submit"]:hover,
	button:hover,
	select:hover {
		background-color: #fff;
	}

input,
input[type="text"],
textarea {
	background-color: #f7f7f7;
	color: #000;
	border-radius: 0.2em;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	padding: 0.2em 0.5em;
}
	input[type="file"] {
		border: none;
	}
	textarea {
		font-size: 90%;
	}

input[type="checkbox"] {
	float: left;
	display: block;
	opacity: 0.75;
	margin-top: 0.15em;
	margin-right: 0.5em;
	transition: 150ms all;
}
	input[type="checkbox"]:checked {
		opacity: 1;
	}


/*
 *  Main layout
 *
 */

.main_width,
#main {
	width: 95%;
	min-width: 830px;
	max-width: 1400px;

	margin: 0 auto;
	padding: 0 0.5em;
}

	/* Content */
	#content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		background-color: #fff;
		box-shadow: 0 0 3px rgba(0, 0, 0, .25);
		border-radius: 4px;
	}
		#article {
			-webkit-box-flex: 70;
			-ms-flex: 70;
			flex: 70;

			padding: 2em;
			border-right: 1px solid #ccc;
			line-height: 1.7em;
		}
			#article ul, #article ol {
				list-style-position: outside;
				margin-left: 3em;
			}
		#related {
			-webkit-box-flex: 30;
			-ms-flex: 30;
			flex: 30;

			max-width: 230px;
			padding: 1em 1.5em;
		}
			#related:empty {
				display: none;
			}
			#related h2 {
				margin: 1em 0 0.5em 0;
				font-weight: normal;
			}
			#related ul {
				margin: 0 0 0 2em;
			}
				#related ul li {
					margin-bottom: 0.5em;
				}
					#related ul li a {
						display: block;
					}
		#related-jump {
			display: none;
		}

	/* Footer */
	#footer {
		color: #999;
		text-align: center;
	}

/*
 *  Common classes
 * 
 */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.hidden {
	display: none;
}

.mungify {
	unicode-bidi: bidi-override;
	direction: rtl;
}
