body, h1, h2, h3, h4, ol, ul, li {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
}

body {
	font: 12px/18px "Bitstream Vera Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background-color: #eee;
	color: #000;
}

#main {
	margin: auto;
	padding: 0 6px;
	text-align: left;
	min-width: 850px;
	max-width: 1000px;
}

#content {
	background-color: #fff;

	box-shadow: 0 0 3px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .25);

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#article {
	margin-right: 230px;
	padding: 2em;
	border-right: 1px solid #ccc;
	line-height: 1.7em;
}

#article {
	text-align: justify;
}

#article ul, #article ol {
	list-style-position: outside;
	margin-left: 3em;
}

#mainnav {
	padding: 6px 0;
}

#mainnav ul {
	list-style: none;
	line-height: 2em;
}

#mainnav ul li {
	border-left: 1px solid #ccc;
	float: left;
	padding: 0 1em 0 1em;
	font-weight: bold;
}

#mainnav ul li:first-child {
	border-left: 0;
}

#mainnav select {
	float: right;
}

#sidebar {
	float: right;
	width: 230px;
	border-left: 1px solid #ccc;
}

#sidebar ul {
	margin-left: 3em;
	margin-right: 1em;
}

#sidebar ul li {
	margin-bottom: 6px;
}

#sidebar h2 {
	font-size: 16px;
	font-weight: normal;
	padding: 0;
	margin: 2em 1em 6px 1em;
}

#footer {
	color: #999;
	font-size: small;
	text-align: center;
}

h1, h2, h3, h4, dl dt { color: #333;}
h1 { font-size: 24px; font-weight: normal; }
h2, h3, h4 { font-weight: bold; margin: 1em 0; }
h2 { font-size: 16px; }
h3 { font-size: 1em; }
h4 { font-size: 10px; }

h2 em {
	font-weight: normal;
}

a {
	color: #06c;
	text-decoration: none;
}

a:hover {
	color: #f00;
	text-decoration: underline;
}

a span {
	color: #333;
}

a:hover span {
	color: #f00;
}

ul {
	list-style-type: square;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin: 0 0 1em 3em;
}

div.column {
	float: left;
	width: 50%;
}

div.lcolumn {
	margin-right: 12px;
}

div.rcolumn {
	margin-left: 12px;
}

div.column p.colicon {
	margin: 0 10px 10px 0;
	padding-left: 58px;
	background: no-repeat 0% 0%;
	min-height: 48px;
}

div.image {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 6px;
	padding-bottom: 0;
	text-align: center;
	margin: 1em auto;
}

div.image div {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 6px;
	overflow: auto;
}

.clearboth {
	clear: both;
}

.hidden {
	display: none;
}

.mungify {
	unicode-bidi: bidi-override;
	direction: rtl;
}
