.file_frontpage {
	margin-right: 0;
}

.file_frontpage h2, .file_frontpage h3 {
	padding-top: 0;
}

.file_frontpage .post-wrap p {
	margin-top: 0;
}

#slidewrap {
	text-align: center;
	margin: auto;
	background: #bcbcbc;
	margin-bottom: 12px;
	padding: 0;
}
#slide {
	position: relative;
	overflow: hidden;
	width: 800px;
	height: 400px;
	background: #bcbcbc;
	cursor: default;
	overflow: hidden;
	margin: auto;
}
#slide ul {
	position: absolute;
	list-style: none;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
#slide li {
	float: left;
	width: 800px;
	height: 400px;
}
#slide li p {
	text-align: left;
	padding:6px;
	margin:6px;
	position:absolute;
	bottom:0;
	width:450px;
	background:#333; /* override by rgba below */
	color:#fff;
	border: 0;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#slide li p {
	background:rgba(0, 0, 0, 0.8)
}
#slidenavwrap {
	background: #fff;
}
#slidenav {
	list-style:none;
	margin:0;
	padding:0;
	line-height: 0;
}
#slidenav li {
	border: 1px solid #bcbcbc;
	width: 12px;
	height: 12px;
	display: inline-block;
	cursor:pointer;
	margin: 12px 6px;
	background: #dcdcdc;

	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
#slidenav li:hover {
	background: #bababa;
}

#slidenav li.current  {
	background: #acacac;
	border-color: #5f5f5f;
}
