/* this file is used in various xfce subdomains! */

#xfce-header {
	background: #333 url('img/logosmall.gif') no-repeat 3px 50%;
	padding-left: 75px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
#xfce-header ul {
	list-style: none;
	float: right;
	margin: 5px;
	padding: 0;
}
#xfce-header ul li {
	float: left;
	margin: 0; /* for transifex */
}
#xfce-header a {
	color: #999;
	text-decoration: none;
	display: block;
	padding: 0 8px 0 8px;
	border: 0; /* for transifex */
	line-height: 25px;

	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
}
#xfce-header ul li a:hover {
	color: #fff;
	text-decoration: underline;
}
#xfce-header .active {
	color: #fff;
}
#xfce-header-clear {
	clear: both;
}
#xfce-header-title, #xfce-header-subtitle {
	display: none;
}
