/* Fourdan quote style */

#quote {
  width: 500px;
  margin-right: 30px;
}

#quote blockquote {
  font: 1.5em Georgia,"Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
  margin: 10px 0 0 44px;
  padding: 5px 0 0;
  text-align: justify;
  color: #ADADAD
}

#quote span {
  color:#333;
  font-size:0.9em;
  font-weight: bold;
  margin-left:3em;
  white-space:nowrap;
}

/* Download style */

#download {
  width: 300px;
  float: right;
  margin-top: 100px;
}

#download #button {
  color: white;
  height: 188px;
  font-weight: bold;
  font-size: 2em;
  background: black no-repeat;
}

#download #button:hover {
  background: black no-repeat;
}

#download #button a {
  display: block;
  width: 300px;
  height: 188px;
  color: white;
  padding: 120px 0 0 60px;
}

#download #button a:hover {
  color: white;
}

#download p {
  text-align: right;
  margin: 2px;
}

/* Blog post style */

#blog {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 30%;
  clear: both;
}

#blog .info {
  color: grey;
  font-variant: italic;
  font-size: 80%;
  margin:  10px 0 0 0;
  line-height: 1em;
}

#blog .title {
  margin: 3px 0 0 0;
  line-height: 1em;
}

#blog h2 {
  margin-bottom: 5px;
}
