@import url('header.css');

body {
  font: 80% Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.7em;
}

#mirrorbrain-wrap
{
  padding: 1em;
  min-width: 600px;
  max-width: 1100px;
  margin: auto;
  text-align: left;
}

#mirrorbrain-details address {
  display: none;
}

#mirrorbrain-footer {
  color: #999;
  font-size: small;
}

#mirrorbrain-footer a {
  color: #999;
  text-decoration: underline;
}

#mirrorbrain-footer a:hover {
  color: #06c;
}

h2 {
  color: #666;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  margin: 0;
  padding: 0.5em 0 0 0;
  font-size: 200%;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  color: #f00;
}

hr {
  height: 1px;
  background: #ccc;
  border: 0;
}
