@media screen and (max-width: 1200px) {
	.frontpage_cols .column:nth-child(3) {
		min-width: 90%;
	}
	.frontpage_cols .feeds {
		margin-bottom: 0.5em;
	}
}
@media screen and (max-width: 1200px) and (min-width: 851px) {
	.frontpage_cols .column:nth-child(3) .rss {
		float: none;
		margin-left: 2em;
	}
}

@media screen and (max-width: 850px) {
	/* Elements */
	h1 {
		margin-top: 0.3em;
		font-size: 160%;
		text-align: left;
	}

	/* Main layout */
	#main {
		min-width: 405px;
	}

		/* Main navigation */
			#mainnav select {
				font-size: 110%;
				margin-top: 0.25em;
			}

		/* Content */
		#content {
			display: block;
		}
			#article {
				border: none;
				padding: 1.5em;
			}
			#related {
				background-color: #eee;
				max-width: 100%;

				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			#related-jump {
				float: right;
				display: block;
				background-color: #eee;
				margin: -1em -1em 0 0;

				border-top-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}
				#related-jump a {
					padding: 0.3em 0.6em;
					display: block;
				}

	/* Navigation */
	#mainnav-icon {
		display: block;
		float: left;
	}
	#mainnav div ul {
		display: none;
		background: #fff;
		position: absolute;
		margin-top: 32px;
		width: 200px;
		float: left;
		z-index: 2000;
		border: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0 0 2px rgba(0,0,0,0.2);
	}
	#mainnav div:hover ul {
		display: block;
	}
	#mainnav div:hover #mainnav-icon {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	#mainnav ul li {
		float: none;
		border-left: 0;
		border-top: 1px solid #fff;
		padding: 0;
	}
	
	#mainnav ul li a {
		display: block;
		padding: 0.4em 1em;
		border-top: 1px solid rgba(0,0,0,0.1);
	}
		#mainnav ul li:first-child a { border-top: none; }

	#mainnav ul li a:hover {
		background-color: #eee;
		text-decoration: none;
	}

	/* Templates */
	div.grid {
		display: block;
	}

	div.figure {
		width: 90%;
	}

	/* Front page: Slider */
	#slidewrap {
		background-size: auto 185px;
	}
	#slide {
		height: 185px;
	}
	#slide img {
		width: 370px;
		height: 185px;
	}
		#slide div {
			background-position: 50% 0;
			background-size: auto auto;
		}

		/* Desktop slide */
		#slide div span#slide-desktop-panel-right { display: none; }

		/* Panel slide */
		#slide div span#slide-panel-vertical { display: none; }
		#slide div span#slide-panel-deskbar { background-position: 0 0; }

	/* Front page: Columns */
	.post-wrap {
		padding-bottom: 0;
	}
	.frontpage_cols {
		display: block;
		padding: 1em 0 2em 0;
	}
		.frontpage_cols .column {
			margin-bottom: 2em;
		}

	/* Screenshots page */
	#article.file_screenshots img {
		max-width: 48%;
	}
}