.newsitem {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1em;
}
	.newsitem .post-date {
		flex: 1;
		min-width: 50px;
		max-width: 50px;
		order: 2;
	}
	.newsitem .post-wrap {
		flex: 80;
		order: 3;
		padding-left: 1.2em;
	}
		.newsitem h2,
		.newsitem h3 {
			flex: 100;
			order: 1;
			min-width: 100%;
			margin: 0 0 0.3em 0;
		}
		.newsitem h2 {
			margin-bottom: 1em;
		}	
		.newsitem .post-wrap p:first-child {
			margin-top: 0;
		}



.post-month {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	display:block;
	padding: 0.15em;
	background: #2284f2;
}
.post-day {
	text-transform: uppercase;
	color: #3d3d3d;
	text-align: center;
	display: block;
	background: #fff;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	border-top: 0;
	padding: 2px;
	line-height: 13px;
}
	.post-day .day {
		font-size: 115%;
		line-height: 1.3em;
		font-weight: 500;
	}
	.post-day .year {
		font-size: 85%;
		color: #6d6d6d;
	}

.rss {
	padding: 2px 20px 0 0;
	background: url('img/feed.gif') no-repeat right center;
	float: right;
	font-size: 85%;
}
	.rss a:link, .rss a:visited {
		color: rgba(0,0,0,0.8);
	}
	.rss a:hover, .rss a:active, .rss a:focus {
		color: #fa6e08;
	}

h1 + .rss {
	margin-top: -3.5em;
}
	