a span {
	color: inherit;
}

#header .breadcrumbs {
	float: left;
}
#header .tools {
	float: right;
	margin-top: -0.4em;
}

.mobileTools {
	display: none;
}

@media screen and (max-width: 850px) {
	#header .tools div,
	#header .tools select,
	#header .tools form,
	.mobileTools {
		display: inline;
	}

}

.dokuwiki div.page {
	box-shadow: none;
	border: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}

#dw__toc {
	margin: 0;
	width: 100%;
	border: none;
	margin-bottom: 1em;
}
	#dw__toc h3 {
		font-weight: normal;
		font-size: 125%;
		letter-spacing: inherit;
		padding: 0;
	}
	#dw__toc > div {
		font-size: 100%;
	}
	#dw__toc ul {
		margin-left: 0;
	}
		#dw__toc ul li {
			list-style-image: none;
			list-style-type: square;
		}
		#dw__toc li ul {
			margin-top: 0.5em;
		}

#header,
#footer {
	padding: 0.4em 0;
}
	#header {
		padding-top: 0.8em;
	}

#footer .bars {
	display: flex;
	margin-bottom: 0.4em;
}
#footer .bars div {
	flex: 1;
}
#footer .bar-left {
	text-align: left;
}
#footer .bar-right {
	text-align: right;
}

#footer .bar-left form,
#footer .bar-right form {
	display: inline;
}

div.plugin_translation select {
	background-color: #f7f7f7 !important;
	padding: 0.2em 0.5em !important;
	border: 1px solid rgba( 0, 0, 0, 0.2 ) !important;
	border-radius: 0.2em !important;
	box-shadow: none !important;
	color: #000 !important;
}

pre.code {
	background-color: rgba( 0, 0, 0, 0.04 );
	border: 1px solid rgba( 0, 0, 0, 0.1 );
	border-radius: 0.3em;

	padding: 0.3em 0.8em;
}