/*
 *  Additional styles for bugzilla.xfce.org
 *
 */

body {
	background-image: none;
}

#bugzilla-body * {
	box-sizing: border-box;
}

/*  Links dressed as buttons  */

.action-link,
.comment_tab,
.bz_query_buttons #xml {
	border-radius: 0.2em;
	border: 1px solid rgba( 0, 0, 0, 0.2 );
	background: #f7f7f7 linear-gradient( to bottom, rgba( 255, 255, 255, 0.5 ), rgba( 0, 0, 0, 0.02 ) 1px, rgba( 0, 0, 0, 0.05 ) ) repeat-x;
	color: #000;
	padding: 0.2em 0.5em;
	outline: none !important;
	transition: 150ms all;
}
	a.action-link:hover,
	.comment_tab:hover {
		background-color: #fff;
	}
	a.action-link {
		font-size: 85%;
		line-height: 1em;
	}
	a.action-link, a.action-link:link, a.action-link:visited {
		color: #000;

	}
		a.action-link:hover, a.action-link:active, a.action-link:focus,
		.comment_tab:hover, .comment_tab:active, .comment_tab:focus {
			color: #06c;
			text-decoration: none;
		}

/*  Links with no color unless hover  */

a.no-color:link, a.no-color:visited {
	color: #000;
}
	a.no-color:hover, a.no-color:active, a.no-color:focus {
		color: #f00;
	}








/*
 *  Move to main stylesheets?
 *
 */

#main * {
	box-sizing: border-box; /* do we want this? */
}

#main pre,
#main pre * {
	font-family: 'Noto Mono', monospace !important;
	font-size: 100%;
}

/*
 *  Not checked
 *
 */

hr {
	clear: both;
	display: block;
	border: none;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.3 );
	margin: 2em 0;
}
	hr + * {
		margin-top: 0;
	}

/*
 *  Header
 *
 */

#header {
	margin: 0 !important;
	width: 100% !important;
}
	#header.scrolled {
		position: fixed;
		top: 0;
		z-index: 2000;
		box-shadow: 0 0 0.1em rgba( 0, 0, 0, 0.4 );
	}
	#header #titles {
		/* Used in the default template... */
		display: none;
	}
	#header a:hover, #header a:active, #header a:focus {
		border-bottom-color: #fff;
		border-bottom: 1px solid rgba( 255, 255, 255, 0.7 );
	}

#quicksearch_top,
#find_top {
	border: 1px solid rgba( 255, 255, 255, 0.1 );
	background-color: rgba( 255, 255, 255, 0.25 );
}
#find_top {
	background-color: rgba( 255, 255, 255, 0.5 );
	transition: 150ms all;
}
	#find_top:hover {
		background-color: rgba( 255, 255, 255, 0.75 );
	}

/*
 *  Body
 *
 */

#bugzilla-body {
	position: relative;
	margin: 0 !important;
	padding: 2em 1em !important;
}
	#bugzilla-body > h1:first-child,
	#bugzilla-body > h2:first-child,
	#bugzilla-body > h3:first-child {
		margin-top: 0;
	}

/*
 *  Navigation
 *
 */

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#header .links-dropdown {
	position: relative;
	float: right;
}
	#header .links-dropdown li.main {
		position: relative;
		z-index: 1000;
		padding: 0.45em 1em;
	}
		#header .links-dropdown:hover li.main {
			background-color: rgba( 255, 255, 255, 0.2 );
		}
	#header .links-dropdown ul {
		position: absolute;
		top: 2.3em;
		right: 0;
		display: none;
		border: 1px solid rgba( 0, 0, 0, 0.2 );
		box-shadow: 0 0 0.2em rgba( 0, 0, 0, 0.1 );
	}
		#header .links-dropdown:hover ul {
			min-width: 150px;
			width: 100%;
			display: block;
		}
	#header .links-dropdown li.main ul li {
		background-color: #eee;
	}
		#header .links-dropdown:hover ul li:first-child {
			padding-top: 0.5em;
		}
		#header .links-dropdown:hover ul li:last-child {
			padding-bottom: 0.5em;
		}
	#header .links-dropdown a {
		display: block;
		border: none;
		padding: 0.25em 1em;
	}
		#header .links-dropdown a:hover {
			background-color: rgba( 255, 255, 255, 0.5 );
			color: #000;
		}

#header .links {
	padding: 0.25em 1em;
	border: none;
	border-radius: 0;
}
	#header #common_links {
		background-color: #00a8dd;
		color: rgba( 255, 255, 255, 0.9 );
	}
	#header #common_links:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		font-size: 0;
	}
		.links li {
			margin-right: 0.5em;
		}
			.links li .separator {
				display: none;
			}
			.links li a {
				font-weight: bold;
			}
				#header .links li a {
					color: #fff;
				}
			.links.links-primary {
				float: left;
			}
			#header .links.links-secondary {
				float: right;
				padding: 0.45em 1em;
			}
				.links.links-secondary li {
					padding: 0.45em 0;
				}
#header a:hover,
#header a:active,
#header a:focus {
	text-decoration: none;
}

/*
 *  Bug navigation and messages
 *
 */

.navigation {
/*	width: 100%; */
/*	position: absolute; */
	margin: 0;
	top: 0;
	left: 0;

	padding: 0.25em 1em;
	background-color: #fff;
}
	#bugzilla-body > dl:first-child {
		background-color: #eee;
		padding: 0.8em 1.3em;
		border-left: 7px solid #00a8dd;
	}
		#bugzilla-body > dl:first-child code {
			font-size: 100%;
		}
.navigation .nav_left { float: left; }
.navigation .nav_right { float: right; font-size: 90%; }
.navigation a,
.navigation span {
	margin: 0 0.3em;
}

/*
 *  Front page
 *
 */

#page-index {
	max-width: 100%;
}

#page-index #enter_bug { background-image: linear-gradient( to bottom, rgba( 255, 255, 255, 0.5 ), rgba( 0, 0, 0, 0.02 ) 1px, rgba( 0, 0, 0, 0.05 ) ), url(https://bugzilla.xfce.org/skins/contrib/Xfce/index/bugzilla-papericon.png); }
#page-index #query { background-image: linear-gradient( to bottom, rgba( 255, 255, 255, 0.5 ), rgba( 0, 0, 0, 0.02 ) 1px, rgba( 0, 0, 0, 0.05 ) ), url(https://bugzilla.xfce.org/skins/contrib/Xfce/index/bugzilla-magnifier.png); }
#page-index #account { background-image: linear-gradient( to bottom, rgba( 255, 255, 255, 0.5 ), rgba( 0, 0, 0, 0.02 ) 1px, rgba( 0, 0, 0, 0.05 ) ), url(https://bugzilla.xfce.org/skins/contrib/Xfce/index/bugzilla-person-alternate.png); }
#page-index #help { background-image: linear-gradient( to bottom, rgba( 255, 255, 255, 0.5 ), rgba( 0, 0, 0, 0.02 ) 1px, rgba( 0, 0, 0, 0.05 ) ), url(https://bugzilla.xfce.org/skins/contrib/Xfce/index/bugzilla-questionmark2.png); }

#page-index .bz_common_actions a {
	width: 170px;
	padding: 1em;
	background-color: #f7f7f7;
	background-position: 50% 0;
	background-repeat: repeat-x, no-repeat;
	border-radius: 0.5em;
}
	#page-index .bz_common_actions a:hover {
		background-color: #fff;
	}


.rss {
	background-image: url(https://bugzilla.xfce.org/skins/contrib/Xfce/rss.png);
}

/*  Fix the related action links... */
.related_actions {
	font-size: 0.85em;
	float: right;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
	.related_actions li {
		display: inline;
	}

	.related_actions.no-navigation {
		display: block;
		float: none;
		text-align: right;
		width: 100%;

		box-sizing: border-box;
		padding: 0.35em 1.25em;
		margin-top: -0.1em !important;
		background-color: #eee;
	}
		.related_actions:first-child + #useful-links {
			clear: both;
		}
/*  Browse  */
ul.product_categories {
	list-style-type: none;
	padding-left: 0;
}
	ul.product_categories li {
		display: inline;
	}
		ul.product_categories li a {
			font-size: 100%;
		}


h3.product_cat {
	padding-top: 5em;
	margin-top: -4em;
	margin-bottom: 0;
}
	hr + h3.product_cat {
		padding-top: 4em;
	}
	h3.product_cat + p {
		margin-top: 0.25em;
		margin-bottom: 1.25em;
	}

ul.products {
	list-style-type: none;
	padding-left: 0;
	margin-left: 3em;
	border-top: 1px solid rgba(0,0,0,0.2);
}
	ul.products li {
		display: flex;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
		ul.products li:hover {
			background-color: #f7f7f7;
		}
		ul.products li a {
			display: block;
		}
			ul.products a.description {
				color: #444;
			}
		ul.products strong {
			flex: 20;
			min-width: 220px;
			padding: 0.2em 0;
		}
		ul.products div {
			flex: 80;
			font-size: 80%;
			padding: 0.3em 0;
			line-height: 1.5em;
		}
			ul.products span.product_components a {
				font-size: 120%;
				line-height: 1.6em;
				display: inline;
				white-space: nowrap;
				margin-right: 0.5em;
			}
			ul.products span.product_components a:first-child:last-child,
			ul.products span.product_components a.component-all {
				font-style: oblique;
				font-weight: bold;
			}
			ul.products span.product_components a.component-general,
			ul.products span.product_components a.component-General {
				font-weight: bold;
			}


/*  Search  */
.bz_search_section {
	background-color: #eee;
	padding: 1em;
}
.field_help_link {
	color: #000 !important;
}

tr.bz_row_odd {
	/* Makes sure all odd rows have a background... */
	background-color: #f7f7f7;
}
.bz_query_links .action-link {
	font-size: 100%;
}
.bz_query_buttons #xml {
	font-size: 100%;
	margin-top: -0.25em;
}
.buglist_menu div {
	line-height: 2.5em;
}

/*  Search description  */

.search_description {
	line-height: 2em;
}
.search_description li {
	white-space: nowrap;
}

/*  Bug list  */

.bz_buglist {
	margin: 2em 0;
}

.bz_buglist a {
	display: block;
}

/*  Common styles  */
a.bz_closed, a.bz_closed:link, a.bz_closed:visited,
a.bz_closed:hover, a.bz_closed:active, a.bz_closed:focus  {
	text-decoration: line-through;
}

/* Bug statuses */
.bz_bugitem .bz_short_desc_column {
	position: relative;
}
	.bz_bugitem .bz_bug_status_column span {
		display: inline-block;
		width: 100%;
		text-align: center;

		border-radius: 0.2em;
		padding: 0.15em 0.4em;
		background-color: rgba( 0, 0, 0, 0.1 );
	}

.bz_bugitem.bz_NEW .bz_bug_status_column span,
.bz_bugitem.bz_REOPENED .bz_bug_status_column span,
.bz_bugitem.bz_UNCONFIRMED .bz_bug_status_column span,
#status_resolution.NEW,
#status_resolution.REOPENED,
#status_resolution.UNCONFIRMED {
	background-color: rgba( 0, 150, 210, 1 );
        color: #fff;
}
	#status_resolution.NEW:hover,
	#status_resolution.REOPENED:hover,
	#status_resolution.UNCONFIRMED:hover {
		background-color: rgba( 20, 170, 230, 1 );
	}

.bz_bugitem.bz_ASSIGNED .bz_bug_status_column span,
#status_resolution.ASSIGNED {
        background-color: rgba( 220, 200, 50, 1 );
        color: #fff;
}
	#status_resolution.ASSIGNED:hover {
		background-color: rgba( 240, 220, 70, 1 );
	}

.bz_bugitem.bz_NEEDINFO .bz_bug_status_column span,
#status_resolution.NEEDINFO {
        background-color: rgba( 235, 90, 0, 1 );
        color: #fff;
}
	#status_resolution.NEEDINFO:hover {
		background-color: rgba( 255, 110, 20, 1 );
	}

.bz_bugitem.bz_CLOSED .bz_bug_status_column span,
.bz_bugitem.bz_RESOLVED.bz_FIXED .bz_bug_status_column span,
.bz_bugitem.bz_RESOLVED.bz_WORKSFORME .bz_bug_status_column span,
.bz_bugitem.bz_VERIFIED .bz_bug_status_column span,
#status_resolution.CLOSED,
#status_resolution.RESOLVED-FIXED,
#status_resolution.RESOLVED-WORKSFORME,
#status_resolution.VERIFIED {
        background-color: rgba( 90, 180, 90, 1 );
        color: #fff;
}
	#status_resolution.CLOSED:hover,
	#status_resolution.RESOLVED-FIXED:hover,
	#status_resolution.RESOLVED-WORKSFORME:hover,
	#status_resolution.VERIFIED:hover {
		background-color: rgba( 110, 200, 110, 1 );
	}

.bz_bugitem.bz_RESOLVED.bz_DUPLICATE .bz_bug_status_column span,
.bz_bugitem.bz_RESOLVED.bz_INVALID .bz_bug_status_column span,
.bz_bugitem.bz_RESOLVED.bz_MOVED .bz_bug_status_column span,
.bz_bugitem.bz_RESOLVED.bz_WONTFIX .bz_bug_status_column span,
#status_resolution.RESOLVED-DUPLICATE,
#status_resolution.RESOLVED-INVALID,
#status_resolution.RESOLVED-MOVED,
#status_resolution.RESOLVED-WONTFIX {
	background-color: rgba( 90, 90, 90, 1 );
	color: #fff;
}
	#status_resolution.RESOLVED-DUPLICATE:hover,
	#status_resolution.RESOLVED-INVALID:hover,
	#status_resolution.RESOLVED-MOVED:hover,
	#status_resolution.RESOLVED-WONTFIX:hover {
		background-color: rgba( 110, 110, 110, 1 );
	}

	#status_resolution option {
                background-color: #fff;
                color: #000;
        }

/* Bug severities */
.severity-critical select#bug_severity,
.severity-blocker select#bug_severity {
	background-color: rgba( 210, 0, 0, 1 );
	color: #fff;
}
	.severity-critical select#bug_severity:hover,
	.severity-blocker select#bug_severity:hover {
		background-color: rgba( 230, 20, 20, 1 );
	}

	.severity select#bug_severity option {
		background-color: #fff;
		color: #000;
	}

.bz_bugitem {
	color: inherit;
	font-weight: normal;
}
	.bz_blocker,
	.bz_critical {
		color: rgba( 210, 0, 0, 1 );
	}
	.bz_critical .bz_short_desc_column,
	.bz_blocker .bz_short_desc_column {
		padding-left: 2em;
	}
		.bz_critical .bz_short_desc_column:before,
		.bz_blocker .bz_short_desc_column:before {
			position: absolute;
			content: "!";
			left: 0.4em;
			top: 0.4em;
			padding: 0.15em 0.4em;
			border-radius: 0.2em;
			background-color: rgba( 210, 0, 0, 1 );
			color: #fff;
			font-weight: bold;
		}

	.bz_CLOSED .bz_short_desc_column:before,
	.bz_RESOLVED .bz_short_desc_column:before,
	.bz_VERIFIED .bz_short_desc_column:before {
		display: none;
	}
	.bz_CLOSED .bz_short_desc_column,
	.bz_RESOLVED .bz_short_desc_column,
	.bz_VERIFIED .bz_short_desc_column {
		padding-left: 0.4em;
	}

/*
 *  BUG VIEW
 *
 */

#bug-header {
	display: flex;
	padding: 0 0 0.4em 0;
	font-weight: normal;    

	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	border-bottom: 1px solid #06c;
}
	#bug-header #bug-primary-actions { flex: 2; text-align: right; min-width: 200px; }
		#bug-header #bug-primary-actions .action-link {
			font-size: 105%;
			padding: 0.3em 1em;
		}
#bug-title { font-size: 180%; flex: 8; padding-bottom: 0.2em; line-height: 1.1em; }
	#bug-title a { color: #000; }
	#bug-title input { display: block; font-size: 80%; margin-top: -0.15em; font-weight: normal; }

/* Main layout
 */

#bug-layout {
	display: flex;
}
	#bug-main { flex: 70; }
	#bug-sidebar { flex: 30; margin-left: 3em; min-width: 310px; }
		#bug-sidebar .field,
		#bug-sidebar .sidebar-item { margin-bottom: 1em; }
		#bug-sidebar #sidebar-expand .field,
		#bug-sidebar #sidebar-expand .sidebar-item { display: none; }
		#bug-sidebar #sidebar-expand.expanded .field,
		#bug-sidebar #sidebar-expand.expanded .sidebar-item { display: block; }

	#bug-layout h3 { font-weight: normal; font-size: 130%; border-bottom: 1px solid rgba( 0, 0, 0, 0.3 ); padding-bottom: 0.3em; color: rgba( 0, 0, 0, 0.7 ); margin-top: 2em; }
		#bug-layout h3:first-child { margin-top: 0.5em; }

/*  Rows that need to be split
 */

#changeform .flex-split { display: flex; }
#changeform .flex-split * { flex: 1; margin: 0 0.1em; }
	#changeform .flex-split a.action-link { padding: 0.5em; text-align: center; }

/*  Product and component box
 */

#changeform .flex-item { flex: 2; }
#changeform .flex-product,
#changeform .flex-status { flex: 3; }
#changeform .flex-component { flex: 4; }

#changeform .flex-split span.select,
#changeform .flex-split select { flex: 2; }

/*  Comments
 */

/* Collapse and Expand links */
.bz_collapse_expand_comments {
	float: right;
	margin-top: -3.5em;
}
	.bz_collapse_expand_comments li {
		display: inline;
	}

/* Comments itself */
body #comments pre.bz_comment_text,
body #comments pre.bz_comment_text * {
	font-family: 'Noto Sans', sans-serif !important;
}
body #comments pre.bz_comment_text {
	word-break: break-all;
}

/*  SIDEBAR
 */

#bug-sidebar select {
	width: 100%;
	margin: 0.2em 0;
}

/* Duplicates
 */

.field-duplicates ul {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding-left: 0;
}
/* CC List
 */

#cc_edit_area {
	margin-left: 2em;
}

/* Attachments
 */

#attachment_table {
	width: 100%;
	border: none;
	margin-top: 1em;
}

#attachment_table tr:nth-child(even) {
	background-color: rgba( 0, 0, 0, 0.08 );
}
#attachment_table tr:nth-child(odd) {
	background-color: rgba( 0, 0, 0, 0.04 );
}
#attachment_table th,
#attachment_table tr:last-child {
	background-color: transparent;
}

#attachment_table td {
	border: none;
}

#attachment_table .bz_attach_footer > td > a {
	display: block;
	clear: both;
	background: transparent url(https://bugzilla.xfce.org/skins/contrib/Xfce/add-attachment.png) no-repeat 0 0;
	padding-left: 20px;
}

/*
 *
 *
 */

/*  Bug comments  */
.bz_comment_table {
	width: 100% !important;
}
	.bz_comment {
		background-color: #f3f3f3;
		margin-bottom: 1em;
	}
		.bz_first_comment_head,
		.bz_comment_head {
			padding: 0.5em;
		}
		.bz_comment_user {
			font-weight: bold;
		}
		.bz_comment_text {
			width: 100%;
			padding: 0 1em 1em 1em;
		}
.comment_tab {
	display: inline-block;
	margin: 0.1em 0 0.4em 0;
	font-size: 90%;
}

#add_comment,
#add_comment table,
#add_comment #comment {
	width: 100%;
}
	#add_comment table,
	#add_comment table tr,
	#add_comment table td,
	#add_comment table th {
		border: none !important;
		padding: 0;
	}


/*  Commit buttons  */
#commit_top,
#commit {
	padding: 0.3em 1em;
	background-color: #06c;
	color: #fff;
}
	#commit_top:hover, #commit_top:active, #commit_top:focus,
	#commit:hover, #commit:active, #commit:focus {
		background-color: #00a8dd;
	}

/*
 *  Filing and editing bugs
 *
 */
.bug-row,
.filebug-row {
	margin-bottom: 1em;
	width: auto !important;
	vertical-align: top;
}
	/*  Bug row elements  */
	.filebug-row b.required::before {
		color: red;
		content: "* ";
	}
	.flex-item.expert_fields b::before,
	tbody.expert_fields th::before,
	#expert_fields_controller::before {
		color: rgba( 255, 180, 0, 1 );
		content: "^ ";
		font-weight: bold;
	}
	.bug-row textarea,
	.filebug-row textarea {
		width: 100%;
	}
	.bug-row input,
	.bug-row span {
		vertical-align: top;
	}
	/*  Specific element styles  */
	.bug-row #short_desc,
	.filebug-row #short_desc {
		font-size: 130%;
		font-weight: 500;
		padding: 0.5em;
	}
	.bug-row #status {
		margin-bottom: 0;
	}
	.bug-row .popup,
	.filebug-row .popup {
		padding: 1em;
		margin-top: 0.3em;
		background-color: #eee;
	}
		/* Possible duplicates table */
		#possible_duplicates table,
		#possible_duplicates table th,
		#possible_duplicates table td {
			border: none;
			text-align: left;
		}
			#possible_duplicates table th#yui-dt0-th-id {
				width: 100px;
			}
			#possible_duplicates table thead tr {
				background-color: #ddd !important;
			}
			#possible_duplicates table tr:nth-child(odd) {
				background-color: #f7f7f7;
			}
			#possible_duplicates table tr:nth-child(even) {
				background-color: #eee;
			}

	/*  Flex rows  */
	.bug-row.bug-flex,
	.filebug-row.filebug-flex {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -0.1em;
	}
	.bug-row.bug-flex {
		background-color: #f7f7f7;
		padding: 0.5em 1em 1em 1em;
		margin-bottom: 1em !important;
	}
		/* Flex items */
		.bug-row.bug-flex .flex-item,
		.filebug-row.filebug-flex .flex-item {
			flex: 1;
			min-width: 120px;
			margin: 0 0.1em;
			line-height: 1.8em;
		}
			/* Flex item elements and specific element styles */
			.bug-row.bug-flex .flex-item select,
			.filebug-row.filebug-flex .flex-item select {
				width: 100%;
			}
			.bug-row.bug-flex .flex-item.status select#resolution,
			.bug-row.bug-flex .flex-item.platform select {
				width: 49%;
			}

/*  Notes... Move to global.css?  */

.note {
	background-color: #eee;
	padding: 0.5em 0.8em;
}
.note-before {
	border-left: 7px solid rgba( 220, 0, 0, 1 );
}
.note-guess-os {
	border-left: 7px solid rgba( 0, 220, 0, 1 );
}

/*  "Changes submitted" notification messages   */

#article > dl:first-child {
	margin: 0 0 2em 0;
	background-color: #f3f3f3;
}
	#article > dl:first-child > dt:first-child {
		padding: 0.5em 1em;
		background-color: #e0e0e0;
	}
	#article > dl:first-child > dd {
		margin: 0;
		padding: 0.5em 1em;
	}
		#article > dl:first-child > dd dt,
		#article > dl:first-child > dd dd {
			margin: 0;
			display: inline;
		}
		#article > dl:first-child > dd code {
			font-family: 'Noto Sans', sans-serif;
			font-size: 100%;
		}
/* ... */

.enter_bug_form hr {
	margin: 1.5em 0;
	border: none;
	border-bottom: 3px solid rgba( 0, 0, 0, 0.2 );
}


.bug-row #newalias {
	margin-top: -0.5em;
}

.bz_bug #bugzilla-body th {
	vertical-align: middle;
}