/*
 *  Additional styles for www.xfce.org
 *
 */

/*
 *   Main navigation
 *
 */

#mainnav {
	padding: 0.4em 0;
}
#mainnav ul {
	list-style: none;
	line-height: 2em;
}

#mainnav ul li {
	border-left: 1px solid rgba( 0, 0, 0, .15 );
	float: left;
	font-weight: bold;
}

#mainnav ul li:first-child {
	border-left: 0;
	border-top: 0;
}

#mainnav ul li a {
	display: block;
	padding: 0.1em 1em;
}

#mainnav select {
	float: right;
	margin-top: 0.15em;
}
	#mainnav select option {
		font-size: 90%;
}
#mainnav-icon {
	display: none;
	height: 32px;
	background: #1b68bf url('img/menu-button.png') no-repeat 9px 50%;

	padding: 0 9px 0 39px;
	line-height: 32px;

	color: #fff;
	font-weight: bold;
	border-radius: 3px;
}
	#mainnav-icon:hover, #mainnav-icon:active, #mainnav-icon:focus {
		background-color: #2284f2;
		text-decoration: none;
	}

/* News */

.newsitem {
	clear: both;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	padding-bottom: 1em;
}
	.newsitem .post-date {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;

		min-width: 50px;
		max-width: 50px;
		order: 2;
	}
		.post-month {
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			display:block;
			padding: 0.15em;
			background: #2284f2;
		}
		.post-day {
			text-transform: uppercase;
			color: #3d3d3d;
			text-align: center;
			display: block;
			background: #fff;
			border: 1px solid rgba( 0, 0, 0, 0.2 );
			border-top: 0;
			padding: 2px;
			line-height: 13px;
		}
			.post-day .day {
				font-size: 115%;
				line-height: 1.3em;
				font-weight: 500;
			}
			.post-day .year {
				font-size: 85%;
				color: #6d6d6d;
			}

	.newsitem .post-wrap {
		-webkit-box-flex: 80;
		-ms-flex: 80;
		flex: 80;

		order: 3;
		padding-left: 1.2em;
	}
		.newsitem h2,
		.newsitem h3 {
			-webkit-box-flex: 100;
			-ms-flex: 100;
			flex: 100;

			order: 1;
			min-width: 100%;
			margin: 0 0 0.3em 0;
		}
		.newsitem h2 {
			margin-bottom: 1em;
		}
		.newsitem .post-wrap p:first-child {
			margin-top: 0;
		}

/* RSS icons */

.rss {
	padding: 2px 20px 0 0;
	background: url('img/feed.gif') no-repeat right center;
	float: right;
	font-size: 85%;
}
	.rss a:link, .rss a:visited {
		color: rgba(0,0,0,0.8);
	}
	.rss a:hover, .rss a:active, .rss a:focus {
		color: #fa6e08;
	}

h1 + .rss {
	margin-top: -3.5em;
}

/* Grid for projects */

div.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
	div.grid .item {
		-webkit-box-flex: 50;
		-ms-flex: 50;
		flex: 50;

		min-width: 45%;
		margin-right: 2em;
	}
		div.grid .item:nth-child(even) {
			margin-right: 0;
		}
		div.grid .item:last-child:nth-child(odd) {
			margin-right: 50%;
		}
			div.grid.icons .item p:first-of-type {
				padding-left: 58px;
				background-repeat: no-repeat;
				background-position: 0 0;
				min-height: 48px;
			}

/* Figures */

div.figure {
	width: 75%;
	margin: auto;
	border: 1px solid #ccc;
	background-color: #eee;
	color: #333;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
}
	div.figure p.image {
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 0.5em;
	}
	div.figure img {
		max-width: 100%;
		height: auto;
	}
	div.figure p {
		margin: 0;
	}
	div.figure + div.figure {
		margin-top: 1em;
	}

/*
 *  Frontpage
 *
 */

/*  No padding between the slider and content  */

#article.file_frontpage {
	margin-right: 0;
	padding: 0;
	border-right: 0;
}

#article.file_frontpage .post-wrap p,
#article.file_frontpage h2,
#article.file_frontpage h3 {
	margin-top: 0;
}

#article.file_frontpage .post-wrap {
	margin-bottom: 0;
}

/*  Flex columns for frontpage  */

.frontpage_cols {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	padding: 2em 0.5em;
}
	.frontpage_cols .column {
		box-sizing: border-box;
		margin: 0 1.5em;

		-webkit-box-flex: 50;
		-ms-flex: 50;
		flex: 50;

		max-width: 33%; /* try to be nice to midori */
	}

	.frontpage_cols .column h2 {
		margin-top: 0;
		display: inline-block;
	}

/*  Slider  */

#slidewrap {
	margin: auto;
	border-bottom: 1px solid #bcbcbc;
	background: #208ca8 url('img/slidebg.jpg') 50% 0 no-repeat;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

	#slide {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 400px;
		cursor: default;
		margin: auto;
	}
		#slide div {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 400px;
			text-align: center;

			-webkit-transform: translateX(100%);
			-ms-transform: translateX(100%);
			transform: translateX(100%);

			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: auto 400px;
		}
			#slide div:first-child {
				-webkit-transform: translateX(0%);
				-ms-transform: translateX(0%);
				transform: translateX(0%);
				z-index: 1000;
			}
			#slide .current {
				-webkit-animation: slide-in 1s forwards;
				animation: slide-in 1s forwards;
			}
			#slide .prev {
				-webkit-animation: slide-out 1s forwards;
				animation: slide-out 1s forwards;
			}

	/* Slide animations */
	@-webkit-keyframes slide-in {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
		}
	}
	@keyframes slide-in {
		0% {
			-ms-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-ms-transform: translateX(0%);
			transform: translateX(0%);
		}
	}

	@-webkit-keyframes slide-out {
		0% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
		}
		100% {
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
		}
	}
	@keyframes slide-out {
		0% {
			-ms-transform: translateX(0%);
			transform: translateX(0%);
		}
		100% {
			-ms-transform: translateX(-100%);
			transform: translateX(-100%);
		}
	}

	/* Slide navigation */
	#slidenav {
		margin: 0 auto;
		padding: 0;
		line-height: 0;
		background-color: #fff;
		text-align: center;
	}
		#slidenav a {
			display: inline-block;
			border: 1px solid #bcbcbc;
			width: 12px;
			height: 12px;
			cursor: pointer;
			margin: 12px 6px;
			background: #dcdcdc;

			border-radius: 7px;
			transition: background 0.2s linear;
		}
			#slidenav a:hover {
				background: #bababa;
			}
			#slidenav a.current {
				background: #acacac;
				border-color: #5f5f5f;
			}

	/* Image overlays */
	#slide div span {
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		background-color: transparent;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

		/* Desktop slide */

		#slide div span#slide-desktop-panel,
		#slide div span#slide-desktop-panel-left,
		#slide div span#slide-desktop-panel-right {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		#slide div span#slide-desktop-panel { background-repeat: repeat-x; }
		#slide div span#slide-desktop-panel-left { z-index: 2; }
		#slide div span#slide-desktop-icons { background-position: 24px 96px; }
		#slide div span#slide-desktop-yast { background-position: 36px 140px; }

		/* OpenSUSE slide */

		#slide div span#slide-opensuse-panel,
		#slide div span#slide-opensuse-panel-left,
		#slide div span#slide-opensuse-panel-right {
			background-position: 0px 376px;
		}
		#slide div span#slide-opensuse-panel { background-repeat: repeat-x; }
		#slide div span#slide-opensuse-panel-left { z-index: 2; }
		#slide div span#slide-opensuse-icons { background-position: 24px 96px; }
		#slide div span#slide-opensuse-yast { background-position: 36px 140px; }

		/* Panel slide */

		#slide div span#slide-panel-deskbar,
		#slide div span#slide-panel-vertical {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
			#slide div span#slide-panel-deskbar { background-position: 100% 0; }
			#slide div span#slide-panel-vertical { background-position: 0 100%; }

/*  Feeds  */

ul.feeds {
	margin-left: 0 !important;
}
	ul.feeds li {
		list-style-type: none;
	}
		ul.feeds .meta {
			font-size: 85%;
			color: rgba(0,0,0,0.8);
			margin-left: 2em;
		}

/*
 *  Responsive design
 *
 */

@media screen and (max-width: 1200px) {
	.frontpage_cols .column {
		max-width: 50%; /* try to be nice to midori */
	}
	.frontpage_cols .column:nth-child(3) {
		min-width: 90%;
	}
	.frontpage_cols .feeds {
		margin-bottom: 0.5em;
	}
}
@media screen and (max-width: 1200px) and (min-width: 851px) {
	.frontpage_cols .column:nth-child(3) .rss {
		float: none;
		margin-left: 2em;
	}
}

@media screen and (max-width: 400px) {
	.frontpage_cols .column h2 {
		display: block;
		margin-bottom: 0.5em;
	}
	.frontpage_cols .rss {
		display: block;
		float: none;
		clear: both;
		margin-bottom: 1em;
	}
}
