{{ define "main" }}
<h1>{{ i18n "common-changelogs" }}</h1>
{{ .Content }}

{{- $pages := .Pages.ByParam "weight" | collections.Reverse }}
{{- $groups := slice }}
{{- range $pages }}
  {{- $g := .Params.group | default .Params.version }}
  {{- if not (in $groups $g) }}
    {{- $groups = $groups | append $g }}
  {{- end }}
{{- end }}

{{- range $group := $groups }}
<h2>{{ printf "Xfce %s" $group }}</h2>
<ul>
  {{- range $pages }}
    {{- $g := .Params.group | default .Params.version }}
    {{- if eq $g $group }}
  <li><a href="{{ .RelPermalink }}">{{ .Params.version }}</a></li>
    {{- end }}
  {{- end }}
</ul>
{{- end }}
{{ end }}

{{ define "related" }}
{{- $prefix := cond (eq .Language.Lang "en") "" (printf "/%s" .Language.Lang) }}
<h2>{{ i18n "common-related-pages" }}</h2>
<ul>
  <li>
    <a href="{{ $prefix }}/download/changelogs">{{ i18n "common-changelogs" }}
      <span>&ndash; {{ i18n "common-changelogs-desc" }}</span>
    </a>
  </li>
</ul>
<h2>{{ i18n "common-related-sites" }}</h2>
<ul>
  <li>
    <a href="https://archive.xfce.org">{{ i18n "common-archive" }}
      <span>&ndash; {{ i18n "common-archive-desc" }}</span>
    </a>
  </li>
  <li>
    <a href="https://docs.xfce.org/xfce/building">{{ i18n "common-building" }}
      <span>&ndash; {{ i18n "common-building-desc" }}</span>
    </a>
  </li>
  <li>
    <a href="https://gitlab.xfce.org">{{ i18n "common-git" }}
      <span>&ndash; {{ i18n "common-git-desc" }}</span>
    </a>
  </li>
</ul>
{{ end }}
