{{ define "main" }}
<h1>{{ i18n "Changelogs" }}</h1>
<p>{{ i18n "Xfce release notes are specific to each version. Select your version from the list below to see the changes in the release. " }}</p>

{{- $pages := .Pages.ByParam "weight" | collections.Reverse }}
{{- $groups := slice }}
{{- range $pages }}
  {{- $g := .Params.group | default .Params.version }}
  {{- if not (in $groups $g) }}
    {{- $groups = $groups | append $g }}
  {{- end }}
{{- end }}

{{- range $group := $groups }}
<h2>{{ printf "Xfce %s" $group }}</h2>
<ul>
  {{- range $pages }}
    {{- $g := .Params.group | default .Params.version }}
    {{- if eq $g $group }}
  <li><a href="{{ .RelPermalink }}">{{ .Params.version }}</a></li>
    {{- end }}
  {{- end }}
</ul>
{{- end }}
{{ end }}

{{ define "related" }}
{{- $prefix := cond (eq .Language.Lang "en") "" (printf "/%s" .Language.Lang) }}
<h2>{{ i18n "Related Pages" }}</h2>
<ul>
  <li>
    <a href="{{ $prefix }}/download/changelogs">{{ i18n "Changelogs" }}
      <span>&ndash; {{ i18n "release notes of each Xfce release" }}</span>
    </a>
  </li>
</ul>
<h2>{{ i18n "Related Sites" }}</h2>
<ul>
  <li>
    <a href="https://archive.xfce.org">{{ i18n "Archive" }}
      <span>&ndash; {{ i18n "the Xfce download archive" }}</span>
    </a>
  </li>
  <li>
    <a href="https://docs.xfce.org/xfce/building">{{ i18n "Building" }}
      <span>&ndash; {{ i18n "documentation on building Xfce from source" }}</span>
    </a>
  </li>
  <li>
    <a href="https://gitlab.xfce.org">{{ i18n "Git" }}
      <span>&ndash; {{ i18n "browse the source repositories" }}</span>
    </a>
  </li>
</ul>
{{ end }}
