#footer {
	clear: both;
}
#footer-line {
	height: 1px;
	padding: 0;
	margin: 0;
	background: #d4d4d4;
}
#footer-sponsors {
	float: right;
	padding: 10px 10px 0 0;
}
#footer-sponsors ul {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}
#footer-sponsors ul li {
	display: inline;
	padding: 0 0 0 5px;
}
#footer-sponsors a {
	color: #000;
}
#footer-copyright {
	margin: 0;
	padding: 10px 0 0 10px;
	color: #d4d4d4;
}
#footer-copyright a {
	color: #d4d4d4;
	text-decoration: none;
}
#footer-copyright a:hover {
	color: #009;
}
