#front-intro {
	padding: 0 0 10px 0;
}

#front-right {
	width: 270px;
	float: right;
}

	#front-download {
		width: 270px;
		height: 140px;
		background: url(../images/download.png) no-repeat;
		text-align: right;
	}
	
		#front-download div.link {
			height: 120px;
			margin: 0;
			padding: 0;
		}
		
		#front-download h2 {
			margin: 0;
			padding: 45px 15px 15px 15px;
		}
		
			#front-download h2 a {
				display: block;
				color: #154374;
				text-decoration: none;
				font-weight: bold;
			}
		
		#front-download div.notes {
			height: 20px;
		}
		
			#front-download p {
				margin: 0;
				padding: 0px 15px 0px 0px;
			}
	
#front-intro-about {
	margin-right:290px;
}

	#front-intro-about h1 {
		/* Same font-size as h2 */
		font-size: 120%;
	}
	
	#front-intro-about p {
		padding: 0 0 0 20px;
	}

#front-container {
	background-color: #eeeeee;
	float:left;
	width: 100%;
}

	#front-news, #front-projects, #front-blog {
		width: 33%;
		float: left;
	}

	#front-projects {
		width: 34%;
	}

	.front-borders {
		border-left: 2px solid #ffffff;
		border-right: 2px solid #ffffff;
	}


	#front-projects-content, #front-news-content, #front-blog-content {
		padding: 5px;
	}

		#front-projects-content ul, #front-news-content ul, #front-blog-content ul {
			list-style: none;
			margin: 0;
			padding:1em;
		}
	
			#front-projects-content li, #front-news-content li, #front-blog-content li {
				margin: 0;
				padding:0.2em;
			}
