body {margin:10px;padding:0;cursor:default;color:#000;background:#FFF}
div {margin:0;padding:0}
#content-wrap {text-align:center}
#global-page {margin:auto;text-align:left;min-width:740px}
#global-contentwrap {clear:both;padding:10px;}
a:link,a:visited,a:active {color:#154374;text-decoration:underline}
a:hover {color:#f00;text-decoration:underline}
body {font:80% arial,verdana,sans-serif}
input {font:100% arial,verdana,sans-serif}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-weight:bold;color:#154374}
h1 {font-size:140%}
h2 {font-size:120%}
h3 {font-size:100%}
#front-download h2 {font-size:26px}
.readmore {text-align:right;margin:0;padding:0}
.readmore a {margin:0;padding:0 5px 0 15px;background:url(../images/next.png) no-repeat 1px 50%}
.hidden {display:none;height:0;width:0;overflow:hidden;position:absolute}
.clearboth {clear:both;margin:0;padding:0}
.grey {color:#666}
.external {background:url(../images/external.png) no-repeat 100% 50%;padding:0 15px 0 0;margin:0 5px 0 0}