#header {
	background: #8EBADD url(../images/header-gradient.png) repeat-x;
}

#header-logo {
	width: 480px;
	height: 179px;
	background: url(../images/logo.png) no-repeat;
	float: left;
}

#header-right {
	float: right;
	width: 260px; /* 780 (header) - 480 (logo) */
	height: 179px;
	background: url(../images/corner.png) no-repeat 100% 0%; /* Make sure it's aligned top right */
}

#header-style {
	text-align: right;
	margin: 0;
	padding: 0;
	height: 90px;
}

	#header-style p {
		margin: 0;
		padding: 10px;
		color: #ffffff;
	}
	
	#header-style a {
		color: #ffffff;
		text-decoration:none;
	}

		#header-style a:hover {
			text-decoration: underline;
		}


#header-search {
	text-align: right;
	height: 89px;
	width: 260px;
	
	/* Doesn't work in IE */
	vertical-align: bottom;
	display : table-cell;
}

	#header-search form {
		margin: 0;
		padding: 0 10px 10px 0;
	}
	
	#header-search input {
		border: 1px solid #c6c6c6;
		background-color: #ffffff;
		max-width: 250px; /* Prevent growing crazy */
		max-height: 50px;
		padding: 0.2em;
		margin: 0;
	}


#header-menu {
	clear: both;
	border: 1px solid #C6C6C6;
	background: #e9e9e9 url(../images/menu-gradient.png) repeat-x;
	padding: 0.5em 0 0.5em 0;
}

#header-menu ul {
	list-style: none;
	display: inline; /* Konqueror */
	padding: 0 0 0 1em;
	margin: 0;
}

	#header-menu ul li {
		padding: 0 1em 0 1.2em;
		display: inline;
		border-left: 1px solid #b4b4b4;
	}
	
		#header-menu ul li:first-child {
			border-left: 0;
			padding-left: 0;
		}

	#header-menu ul li a {
		color: #666666;
		font-weight: bold;
		text-decoration: none;
	}

#header-breadcrumbs {
	padding: 0.2em 0 0.2em 1em;
	background-color: #ffffff;
	color: #999999;
}

	#header-breadcrumbs a {
		color: #999999;
	}
	
	#header-breadcrumbs a:hover {
		color: #333333;
	}
