* html #header-menu {
	padding: 0.2em 0;
}
* html #header-menu ul li {
	margin: 0 1.2em 0 -1.2em;
}
* html #header-search form {
	padding: 58px 10px 0 0;
}
* html #front-intro {
	margin: -10px 0 0;
}
* html #front-projects {
	width: 33%;
}