{{- $lang := .Language.Lang }}
{{- $prefix := cond (eq $lang "en") "" (printf "/%s" $lang) }}
<h2>{{ i18n "common-related-pages" }}</h2>
<ul>
  <li>
    <a href="{{ $prefix }}/about/tour420">{{ i18n "related-tour-420" }}
      <span>&ndash; {{ i18n "related-tour-desc" }}</span>
    </a>
    <ul>
      <li><a href="{{ $prefix }}/about/tour418">{{ i18n "related-tour-418" }}</a></li>
      <li><a href="{{ $prefix }}/about/tour416">{{ i18n "related-tour-416" }}</a></li>
      <li><a href="{{ $prefix }}/about/tour414">{{ i18n "related-tour-414" }}</a></li>
      <li><a href="{{ $prefix }}/about/tour412">{{ i18n "related-tour-412" }}</a></li>
      <li><a href="{{ $prefix }}/about/tour410">{{ i18n "related-tour-410" }}</a></li>
      <li><a href="{{ $prefix }}/about/tour48">{{ i18n "related-tour-48" }}</a></li>
      <li><a href="{{ $prefix }}/about/tour46">{{ i18n "related-tour-46" }}</a></li>
      <li><a href="{{ $prefix }}/about/tour44">{{ i18n "related-tour-44" }}</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ $prefix }}/about/news">{{ i18n "common-news" }}
      <span>&ndash; {{ i18n "related-news-desc" }}</span>
    </a>
  </li>
  <li>
    <a href="{{ $prefix }}/about/screenshots">{{ i18n "common-screenshots" }}
      <span>&ndash; {{ i18n "common-screenshots-desc" }}</span>
    </a>
  </li>
  <li>
    <a href="{{ $prefix }}/about/credits">{{ i18n "common-credits" }}
      <span>&ndash; {{ i18n "related-credits-desc" }}</span>
    </a>
  </li>
</ul>
