<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1" />
  <title>{{ if .IsHome }}{{ i18n "Xfce Desktop Environment" }}{{ else }}{{ with i18n .Title }}{{ . }}{{ else }}{{ $.Title }}{{ end }} – Xfce{{ end }}</title>
  <link rel="icon" href="{{ .Site.Params.staticMedia }}/images/favicon.ico" />
  {{- $css := resources.GetRemote "https://cdn.xfce.org/style/css.php?site=www" | minify | fingerprint }}
  <link rel="stylesheet" media="screen" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" type="text/css" />
  <link rel="apple-touch-icon" href="{{ .Site.Params.staticMedia }}/images/logo_apple-touch-icon.png" />
  <link rel="me" href="https://floss.social/@xfce" />
  <meta name="content-language" content="{{ .Language.Lang }}" />
  {{- with .Params.description }}
  <meta name="description" content="{{ . }}" />
  {{- end }}
  {{- with .Params.keywords }}
  <meta name="keywords" content="{{ . }}" />
  {{- end }}
  {{- $feedPath := "feed" }}
  {{- if ne .Language.Lang "en" }}{{ $feedPath = printf "%s/feed" .Language.Lang }}{{ end }}
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ $feedPath | absURL }}" />

  {{- with .Params.css }}
  <style type="text/css">
{{ . | safeCSS }}
  </style>
  {{- end }}
</head>
