<div id="mainnav" class="group">
  <h5 class="hidden">{{ i18n "Categories" }}</h5>
  <div>
    <a href="#" id="mainnav-icon">{{ i18n "Navigate" }}</a>
    <ul>
      <li><a href="{{ if eq .Language.Lang "en" }}/{{ else }}/{{ .Language.Lang }}/{{ end }}">{{ i18n "Home" }}</a></li>
      <li><a href="{{ if eq .Language.Lang "en" }}/about{{ else }}/{{ .Language.Lang }}/about{{ end }}">{{ i18n "About" }}</a></li>
      <li><a href="{{ if eq .Language.Lang "en" }}/download{{ else }}/{{ .Language.Lang }}/download{{ end }}">{{ i18n "Download" }}</a></li>
      <li><a href="{{ if eq .Language.Lang "en" }}/community{{ else }}/{{ .Language.Lang }}/community{{ end }}">{{ i18n "Community" }}</a></li>
      <li><a href="{{ if eq .Language.Lang "en" }}/getinvolved{{ else }}/{{ .Language.Lang }}/getinvolved{{ end }}">{{ i18n "Get Involved" }}</a></li>
      <li><a href="{{ if eq .Language.Lang "en" }}/projects{{ else }}/{{ .Language.Lang }}/projects{{ end }}">{{ i18n "Projects" }}</a></li>
    </ul>
  </div>
  {{- /* Strip current lang prefix from RelPermalink to get the bare path */}}
  {{- $currentLang := .Language.Lang }}
  {{- $barePath := .RelPermalink }}
  {{- if ne $currentLang "en" }}
    {{- $barePath = strings.TrimPrefix (printf "/%s" $currentLang) $barePath }}
  {{- end }}
  <form id="languageform" action="" method="get">
    <select name="lang" title="{{ i18n "Change language" }}" onchange="window.location.href=this.value">
      {{- range site.Languages }}
      {{- $lang := .Lang }}
      {{- $url := $barePath }}
      {{- if ne $lang "en" }}{{ $url = printf "/%s%s" $lang $barePath }}{{ end }}
      <option value="{{ $url }}"{{ if eq $lang $currentLang }} selected="selected"{{ end }}>{{ .Label }}</option>
      {{- end }}
    </select>
    <button type="submit" class="hidden">{{ i18n "Change language" }}</button>
  </form>
</div>
