RewriteEngine On

# Redirect legacy ?post=TIMESTAMP query-param news permalinks to individual post pages
RewriteCond %{QUERY_STRING} ^post=([0-9]+)$
RewriteRule ^about/news/?$ /about/news/%1/ [R=301,L]

# Redirect legacy ?lang=XX to localized path
RewriteCond %{QUERY_STRING} ^lang=([a-zA-Z-]+)$
RewriteRule ^(.*)$ /$1 [R=301,L,QSD]

# Redirect ~user homepages
RewriteRule ^(~.*)$ https://users.xfce.org/$1 [R=301,L]

# Permanent redirects to new locations
Redirect 301 /about/releasemodel https://docs.xfce.org/contribute/dev/make-a-platform-release#making_a_platform_release
Redirect 301 /blog https://blog.xfce.org/
Redirect 301 /projects/ristretto https://goodies.xfce.org/projects/applications/ristretto
Redirect 301 /projects/xfmedia https://spuriousinterrupt.org/projects/xfmedia
Redirect 301 /documentation/changelogs /download/changelogs
Redirect 301 /documentation/requirements /download/building
RedirectMatch 301 ^/documentation(.*)$ https://docs.xfce.org/
Redirect 301 /community/irc /community
Redirect 301 /community/lists /community
Redirect 301 /development /getinvolved
Redirect 301 /getinvolved/translation https://docs.xfce.org/contribute/translate/start
RedirectMatch 301 /archive/xfce-(.*) https://archive.xfce.org/xfce/$1

# Project pages → docs.xfce.org
Redirect 301 /projects/xfwm4 https://docs.xfce.org/xfce/xfwm4/
Redirect 301 /projects/terminal https://docs.xfce.org/apps/terminal/
Redirect 301 /projects/xfce4-panel https://docs.xfce.org/xfce/xfce4-panel/
Redirect 301 /projects/xfce4-session https://docs.xfce.org/xfce/xfce4-session/
Redirect 301 /projects/xfce4-settings https://docs.xfce.org/xfce/xfce4-settings/
Redirect 301 /projects/xfce-mcs-manager https://docs.xfce.org/xfce/xfce4-settings/
Redirect 301 /projects/libraries https://docs.xfce.org/xfce/exo/
Redirect 301 /projects/xfdesktop https://docs.xfce.org/xfce/xfdesktop/
Redirect 301 /projects/xfce4-appfinder https://docs.xfce.org/xfce/xfce4-appfinder/
Redirect 301 /projects/thunar https://docs.xfce.org/xfce/thunar/
Redirect 301 /projects/Thunar https://docs.xfce.org/xfce/thunar/
Redirect 301 /download/building https://docs.xfce.org/xfce/building
Redirect 301 /download/distros /download

# Legacy release notes
Redirect 301 /release_notes/4.4rc1_changelog.html /download/changelogs/4.3.99.1
Redirect 301 /release_notes/4.2.3.1_changelog.html /download/changelogs/4.2.3.1
Redirect 301 /release_notes/4.4beta2_changelog.txt /download/changelogs/4.3.90.2
Redirect 301 /release_notes/4.2.0_changelog.html /download/changelogs/4.2.0
Redirect 301 /release_notes/4.4rc2_changelog.html /download/changelogs/4.3.99.2
Redirect 301 /release_notes/4.2.0_press_announcement.html /download/changelogs/4.2.0
Redirect 301 /release_notes/4.2.1_changelog.html /download/changelogs/4.2.1
Redirect 301 /release_notes/4.1.x_changelog.html /download/changelogs/4.2.1
Redirect 301 /release_notes/4.2.2_changelog.html /download/changelogs/4.2.2
Redirect 301 /release_notes/4.2_changelog.html /download/changelogs/4.2.0

# Correct version number style
Redirect 301 /download/changelogs/4.8.0 /download/changelogs/4.8
